<p id="notice" class="alert alert-warning">
    <i class="material-icons" style="color:orange;vertical-align: middle;" title="Admin">warning</i>
    Unauthorized access
</p>

<%= link_to 'Sign in', login_path unless user_signed_in? %> 