<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= form.text_field :provider, class: 'form-control', placeholder: "Provider" %>
  </div>

  <div class="field">
    <%= form.text_field :uid, class: 'form-control', placeholder: "UID" %>
  </div>

  <div class="field">
    <%= form.text_field :email, class: 'form-control', placeholder: "Email" %>
  </div>

  <div class="field">
    <%= form.text_field :first_name, class: 'form-control', placeholder: "First name" %>
  </div>

  <div class="field">
    <%= form.text_field :last_name, class: 'form-control', placeholder: "Last name" %>
  </div>

  <div class="field">
    <%= form.text_field :picture, class: 'form-control', placeholder: "Picture" %>
  </div>

  <div class="field custom-control custom-switch">
    <%= form.check_box :is_admin, :id => "is_admin", :class => "form-control custom-control-input" %>
    <%= form.label :Admin, :class=> "custom-control-label", :for => "is_admin"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
