<p id="notice"><%= notice %></p>

<h3>Manage Users</h3>

<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Provider</th>
      <th>Uid</th>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.picture, class: "rounded", size: 25) %></td>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= user.provider %></td>
        <td><%= user.uid %></td>
        <td><%= user.email %></td>
        <td class="text-center">
          <% if user.is_admin? %>
            <i class="material-icons" style="color:orange" title="Admin">stars</i>
          <% end %>
        </td>
        <td><%= link_to '<i class="fa fa-eye" style="color:green"></i>'.html_safe, user %></td>
        <td><%= link_to '<i class="fa fa-edit" style="color:blue"></i>'.html_safe, edit_user_path(user) %></td>
        <td><%= link_to '<i class="fa fa-trash" style="color:red"></i>'.html_safe, 
          user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
