<h3> Hello <%= current_user.first_name if user_signed_in? %></h3>

<% if user_signed_in? %>
	<% current_user.attributes.each do |k, v| %>
		<b><%= k %>:</b> <%= v %> <br>
    <% end %>
    <br>
    <%= link_to 'Sign out', logout_path, :class => "btn btn-warning btn-sm" %>
<% end %>
