<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light rounded">
  <%= link_to("/", {:class => "navbar-brand"}) do %>
    <span class="fa fa-home fa-lg"></span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" 
    aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: "nav-link" if user_signed_in? %>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', users_path, class: "nav-link" if user_signed_in? and current_user.is_admin %>
      </li>
    </ul>
    <%=
      unless user_signed_in?
        link_to 'Sign in', login_path, class: "nav-link, dropdown" 
      else
        link_to image_tag(current_user.picture, class: "rounded", size: "38"), {action: 'mypage', controller: 'users'}
      end
      %>
  </div>
</nav>
