<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <strong><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</strong>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :is_public %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.text_field :published_at %>
  </div>

  <div class="field">
    <%= form.rich_text_area :content, class: 'form-control', placeholder: "Tell your story" %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
