<% @posts.each do |post| %>
    <h3><%= link_to post.title[0..50], post, :style => "text-decoration: none;" %></h3>
    <small style="color: grey;"> 
        <%= post.created_at %>
        <%= link_to "#{post.user.first_name}", {action: 'mypage', controller: 'users'} %>
    </small>
    <p>
        <%= @body = post.content.to_plain_text[0..400] %>
        <small><%= link_to "...more", post unless @body.length < 400 %></small>
    </p>
<% end %>