<p id="notice" class="<%= 'alert alert-success' if notice %>"><%= notice %></p>

<h3>Manage Posts</h3>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th colspan="3" style="width:  10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to "#{post.title}", post %></td>
        <td>
          <%= link_to image_tag(post.user.picture, class: "rounded", size: 25), 
          {action: 'mypage', controller: 'users'} %>
        </td>
        <td>
          <% if post.is_public? %>
            <span class="fa fa-unlock" style="color:green"></span>
          <% else %>
            <span class="fa fa-lock"></span>
          <% end %>
        </td>
        <td><%= link_to '<i class="fa fa-edit" style="color:blue"></i>'.html_safe, 
            edit_post_path(post), :title => "Edit post" %>
        </td>
        <td><%= link_to '<i class="fa fa-trash" style="color:red"></i>'.html_safe, 
            post, :title => "Delete post",  
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>
