<p id="notice" class="<%= 'alert alert-success' if notice %>"><%= notice %></p>

<h3><%= @post.title %></h3>
<p>
  <%= link_to image_tag(@post.user.picture, class: "rounded-circle", size: "23"), {action: 'mypage', controller: 'users'} %>
  <small style="color: grey;">
    <%= if @post.published_at?
        @post.published_at 
      else
        "Unpublished"
      end
    %>
  </small>
</p>
<%= @post.content %><br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
